<%- include('head') %>
<style>
    .table-box {
        width: 700px;
        float: left;
        height: 600px;
        margin: 50px 150px;
    }
    .table-box>h3{
        height: 30px;
        line-height: 30px;
        color:#000;
        font-weight: 900;
    }
    .table-box p{
        width: 300px;
        height: 50px;
        line-height: 50px;
        text-align: right;
    }
    .table-box span{
        color: #000000;
    }
    s{
        color: red;
    }
    input[type="text"]{
        width: 200px;
        height: 30px;
        border: 1px solid #D7D7D7;
        font-size: 15px;
        margin-left: 10px;
    }
    input[type="submit"]{
        width: 100px;
        height: 30px;
        line-height: 30px;
        background: red;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 900;
        border-radius: 20px;
        margin-right: 100px;
    }
</style>
<div class="table-box">
    <form action="/admin/updatebkCheck">
        <input type="hidden" value="<%= info.id%>" name="id">
        <p>版块名<input type="text" name="bk_name" value="<%= info.bk_name %>"></p>
        <p>版主姓名<input type="text" name="bk_author" value="<%= info.use_name %>"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</div>

