<footer>
  <div class="footerIn w">
    <span><a href="#">关于论坛</a></span>
    <span><a href="#">联系我们</a></span>
    <span><a href="#">问题反馈</a></span>
    <span><a href="#">官方微博</a></span>
    <p> Powered by phpwind v9jfdkljfkldfdfdfdfsfdfd</p>
  </div>
</footer>
</body>
</html>