<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
  <div class="headerIn w clearfix">
    <ul class="headerIn-left-ul fl">
      <li><a href="/view/">首页</a></li>
      <li><a href="/view/noteInfo/1">新帖</a></li>
      <li><a href="#">下载</a></li>
      <li><a href="#">插件与模板</a></li>
      <li><a href="#">1元商业授权</a></li>
      <li><a href="#">1键部署</a></li>
      <li><a href="/admin/bkInfo">后台管理</a></li>
    </ul>
    <ul class="headerIn-right-ul fr">
      <li><a href="/view/login">登录</a></li>
      <li><a href="/view/register">注册</a></li>
    </ul>
  </div>
</header>
